[submodule "backend-submodule"]
	path = backend-submodule
	url = git@github.com:physical-activity/physical-activity-backend.git
[submodule "frontend-submodule"]
	path = frontend-submodule
	url = git@github.com:physical-activity/physical-activity-frontend.git
